@charset "utf-8";
header {
  padding: 15px 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}
a {
  text-decoration: none;
  display: block;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  color: #777;
}
header nav {
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}
.contact {
  color: #ffffff;
}
.keyvisual {
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
  text-align: center;
  padding: 400px 0;
}
.keyvisual h1 {
  margin-bottom: 30px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}
.keyvisual h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.work {
  background: #e3f2fd;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.work {
  padding-top: 50px;
}
.pcImg {
  flex: 4;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.pcImg img {
  width: 250px;
  height: 100%;
  background-size: cover;
}
.workText {
  margin-top: 20px;
  text-align: center;
  flex: 6;
}
.workText h2 {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}
.workText p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}
.skills {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}
.sectionTitle {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.flexWrap {
  display: flex;
  flex-wrap: wrap;
}
.skills-inner {
  width: 300px;
  height: 300px;
  margin-right: 100px;
  margin-left: 0px;
  opacity: 0.7;
  transition: 0.7s;
  margin-top: 100px;
}
.skills-inner:hover {
  opacity: 1;
}
.skills-inner:nth-child(3n) {
  margin-right: 0px;
}
.skills-inner:nth-child(1),
.skills-inner:nth-child(2),
.skills-inner:nth-child(3) {
  margin-top: 0px;
}
.skillsImg1 {
  background: url(../img/skills/skills_1.png) no-repeat center/cover;
}
.skillsImg2 {
  background: url(../img/skills/skills_2.png) no-repeat center/cover;
}
.skillsImg3 {
  background: url(../img/skills/skills_3.png) no-repeat center/cover;
}
.skillsImg4 {
  background: url(../img/skills/skills_4.png) no-repeat center/cover;
}
.skillsImg5 {
  background: url(../img/skills/skills_5.png) no-repeat center/cover;
}
.skillsImg6 {
  background: url(../img/skills/skills_6.png) no-repeat center/cover;
}
.plan {
  padding: 50px 0px;
  background: #d0dfea;
}
.tablePlan {
  table-layout: fixed;
  width: 100%;
}
.tablePlan th,
.tablePlan td {
  padding: 10px;
  border-left: 2px solid #fff;
}
.tablePlan th {
  font-size: 16px;
  line-height: 26px;
}
.tablePlan thead {
  background: #6ba7cb;
}
.tablePlan td {
  text-align: center;
}
.tablePlan tbody tr:nth-child(odd) {
  background: #f9f9f9;
}
.tablePlan tbody tr:nth-child(even) {
  background: #e0efff;
}
.tablePlan th:nth-child(1) {
  border-left: none;
}
.sns {
  padding: 200px 0px;
  background: #e3f2fd;
}
.snsIcon {
  margin: 25px 0px;
  width: 185px;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
  color: #8c8c8c;
}
.snsIcon :hover {
  transition-delay: 0.5s;
  background-color: #fff;
}
footer {
  background: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 25px;
}
footer p {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}
.contact:hover {
  transition-delay: 0.3s;
  color: #333;
}
#menu-btn-check,
.hamburger-menu {
  display: none;
}
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  .keyvisual {
    padding: 250px;
  }
  .work {
    width: 100%;
  }
  .flexEnd,
  .flexWrap {
    flex-direction: column;
  }
  .workText {
    margin-top: 20px;
  }

  .work {
    padding-bottom: 50px;
  }
  .flexWrap {
    align-items: center;
  }
  .skills-inner {
    margin-top: 0;
    margin-right: 0;
  }

  .skills-inner:nth-child(3n) {
    margin-bottom: 80px;
  }
  .skills-inner:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .keyvisual {
    padding: 200px 0;
  }
  .keyvisual h1 {
    font-size: 40px;
  }
  .keyvisual h2 {
    font-size: 30px;
  }
  .tablePlan th {
    font-size: 14px;
    line-height: 22px;
  }
  .tablePlan td {
    font-size: 12px;
  }
  .flexCenter {
    flex-direction: column;
    align-items: center;
  }
  .sns {
    padding: 50px 15px;
  }
  .snsIcon {
    width: 100%;
    margin: 50px;
  }
  .menu-btn {
    position: fixed;
    top: 15px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: solid 2px #a9a9a9;
    border-radius: 3px;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 27px;
    border-radius: 3px;
    background-color: #a9a9a9;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  header nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
